<div class="mat-elevation-z8 dataTable">
  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- category Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
      <td mat-cell *matCellDef="let row">{{row.category}}</td>
    </ng-container>

    <!-- longitude Column -->
    <ng-container matColumnDef="longitude">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Longitude</th>
      <td mat-cell *matCellDef="let row">{{row.longitude}}</td>
    </ng-container>
    <!-- Latitude Column -->
    <ng-container matColumnDef="latitude">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Latitude</th>
      <td mat-cell *matCellDef="let row">{{row.latitude}}</td>
    </ng-container>

    <!-- altitude Column -->
    <ng-container matColumnDef="altitude">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Altitude</th>
      <td mat-cell *matCellDef="let row">{{row.altitude}}</td>
    </ng-container>
    <!-- Radius Column -->
    <ng-container matColumnDef="radius">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Radius</th>
      <td mat-cell *matCellDef="let row">{{row.radius}}</td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>