<h1 class="header">{{title}}</h1>
<br />
<br />

<div class="container main-form">
  <app-geolocation-form></app-geolocation-form>
</div>


<br />
<br />


<table datatable [dtOptions]="dtOptions" class="row-border hover" class="table">
  <thead class="padding">
    <tr>
      <th>ID</th>
      <th>Category</th>
      <th>Timestamp</th>
      <th>longitude</th>
      <th>Latitude</th>
      <th>Altitude</th>
      <th>Radius</th>
    </tr>
  </thead>
  <tbody class="padding" *ngFor="let geo of geolocation$">
    <tr>
      <td>{{ geo.id }} </td>
      <td>{{ geo.category}} </td>
      <td>{{geo.timestamp}}</td>
      <td>{{geo.longitude}}</td>
      <td>{{geo.latitude}}</td>
      <td>{{geo.altitude}}</td>
      <td>{{geo.radius}}</td>
    </tr>
</table>

<router-outlet></router-outlet>