<table datatable>
  <thead>
    <tr>
      <th>ID</th>
      <th>Category</th>
      <th>Timestamp</th>
      <th>longitude</th>
      <th>Latitude</th>
      <th>Altitude</th>
      <th>Radius</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let geo of geolocation$">
      <td>{{ geo.id }} </td>
      <td>{{ geo.category}} </td>
      <td>{{geo.timestamp}}</td>
      <td>{{geo.longitude}}</td>
      <td>{{geo.latitude}}</td>
      <td>{{geo.altitude}}</td>
      <td>{{geo.radius}}</td>
    </tr>
</table>

<router-outlet></router-outlet>
